[user]
  name = kano4
  email = shinji.warp@gmail.com
[color]
  ui = auto
[core]
  editor = vim
  excludesfile = ~/.gitignore
[alias]
  in = init
  st = status
  ci = commit
  co = checkout
  di = diff
  br = branch
  unstage = reset HEAD --
  last = log -1 HEAD
  re = remote
  lo = log
  ad = add
  pl = pull
  ps = push
  gr = grep -n
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  hi = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  np = log --since=yesterday --pretty=format:\"%h %ad | %s%d [%an]\" --date=short
  gp = log --since=\"1 month\" --pretty=format:\"%h %ad | %s%d [%an]\" --date=short

  d1 = diff HEAD
  d2 = diff HEAD^
  d3 = diff HEAD^^
  d4 = diff HEAD^^^
  d5 = diff HEAD^^^^
  d12 = diff HEAD^    HEAD
  d23 = diff HEAD^^   HEAD^
  d34 = diff HEAD^^^  HEAD^^
  d45 = diff HEAD^^^^ HEAD^^^
[github]
  user = kano4
