[user]
  name = kano4
  email = shinji.warp@gmail.com
[color]
  ui = auto
[core]
  editor = vim
  excludesfile = ~/.gitignore
[alias]
  in = init
  st = status
  ci = commit
  co = checkout
  di = diff
  br = branch
  unstage = reset HEAD --
  last = log -1 HEAD
  lo = log
  ad = add
  pl = pull
  ps = push
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  hi = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  np = log --since=yesterday --pretty=format:\"%h %ad | %s%d [%an]\" --date=short
  gp = log --since=\"1 month\" --pretty=format:\"%h %ad | %s%d [%an]\" --date=short


  d1 = diff HEAD
  d2 = diff HEAD^
  d3 = diff HEAD^^
  d4 = diff HEAD^^^
  d5 = diff HEAD^^^
[github]
  user = Shinji Kano
